

.admin-add-user-card {
    border: solid rgba(0, 0, 0, 0.11) 1px;
    border-radius: 10px;
    box-shadow: 0 0 8px grey;
    position: relative;
    width: 400px;
    height: 400px;
    left: 50%;
    margin-top: 50px;
    margin-left: -200px;
    color: black;
}


.admin-add-user-header {
    font-size: 30px;
    margin: 30px;
}


.admin-add-user-form {
    position: absolute;
    top: 35%;
    left: 10%;
    width: 80%;
}


.admin-add-user-input-field {
    position: absolute;
    width: 45%;
    padding: 5px;
    left: 0px;
}


.admin-add-user-firstname-and-lastname-input-fields {
    height: 70px;
}


.admin-add-user-firstname-input-field {
    position: absolute;
    left: 0;
    width: 45%;
    padding: 5px;
}

.admin-add-user-lastname-input-field {
    position: absolute;
    left: 55%;
    width: 45%;
    padding: 5px;
}


.admin-add-user-btn {
    position: absolute;
    top: 100%;
    right: 0px;
}


.admin-back-btn {
    position: absolute;
    top: 100%;
    right: 0px;
}


.admin-add-user-error-message {
    position: absolute;
    top: 105%;
    left: 0%;
    color: red;
}


.admin-add-user-password {
    position: absolute;
    top: 100%;
    left: 0%;
}


.admin-add-user-spinner-show {
    visibility: visible;
    position: absolute;
    top: 100%;
    left: 60%;
}


.admin-add-user-spinner-hide {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 60%;
}


.admin-add-user-checkbox{
    margin-top: 60px;
    margin-bottom: 50px;
}
