

.admin-dashboard-container {
    position: relative;
    width: 600px;
    height: 400px;
    left: 50%;
    margin-top: 50px;
    margin-left: -300px;
    color: black;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}


.admin-dashboard-header {
    position: absolute;
    top: 0px;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}


.admin-dashboard-card {
    border: solid rgba(0, 0, 0, 0.11) 1px;
    border-radius: 10px;
    box-shadow: 0 0 8px grey;
    width: 200px;
    height: 150px;
    margin: 20px;
}


.admin-dashboard-card:hover {
    background-color: WhiteSmoke;
    cursor: pointer;
}


.admin-dashboard-card-text {
    position: relative;
    font-size: 20px;
    text-align: center;
    top: 40%;
}


.admin-dashboard-card-text-two-lines {
    position: relative;
    font-size: 20px;
    text-align: center;
    top: 30%;
}