

.calendar-page-container {
    position: relative;
}


.calendar-page-calendar {
    position: absolute;
    transform: scale(0.8);
    transform-origin: top left;
    top: 20px;
    left: 40px;
    width: 800px;
}


.calendar-page-modal {
    position: absolute;
    left: 40%;
    top: 2px;
}


.calendar-page-sidebar {
    border: solid rgba(0, 0, 0, 0.11) 1px;
    border-radius: 10px;
    box-shadow: 0 0 8px grey;
    position: relative;
    width: 320px;
    height: 420px;
    top: 70px;
    left: 730px;
    color: black;
}


.calendar-page-sidebar-profile-info {
    border: none !important; 
    border-bottom: solid rgba(46, 35, 35, 0.11) 1px;
    box-shadow: 0 0 4px grey;
    height: 55px;
}


.calendar-page-sidebar-profile-img {
    border-radius: 10px 0px 0px 0px; 
    position: absolute;
    top: 0px;
    left: 0px;
    width: 55px;
    height: 55px;
}


.calendar-page-sidebar-vacation-request {
    border: none !important; 
    border-top: solid rgba(0, 0, 0, 0.11) 1px;
    box-shadow: 0 0 4px grey;
    text-align: left;
}


.calendar-page-sidebar-btn-container {
    white-space: nowrap;
    margin-left: -10px;
}


.calendar-page-sidebar-btn {
    transform: scale(0.8);
}


.calendar-page-sidebar-comment-section {
    color: black;
    position: relative;
}


.calendar-page-sidebar-comment {
    border: none !important;
    margin-bottom: -10px;
    margin-left: -10px;
    font-size: 15px;
    width: 270px;
    color: grey;
}


.calendar-page-sidebar-comment-name {
    font-size: 17px;
}


.calendar-page-sidebar-comment-date {
    margin-top: 5px;
    font-size: 12px;
}


.calendar-page-sidebar-comment-section-input-field {
    border: solid rgba(0, 0, 0, 0.11) 1px;
    border-radius: 10px;
    box-shadow: 0 0 8px grey;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 2px;
    font-size: 15px;
    padding-left: 10px;
    outline: none;
    width: 100%;
}


.calendar-page-sidebar-comment-btn {
    transform: scale(0.8);
    position: relative;
    left: 150px;
}


.calendar-page-spinner-show {
    visibility: visible;
    position: absolute;
    right: 15px;
    top: 10px;
}


.calendar-page-sidebar-error-message {
    position: absolute;
    color: red;
    left: 0px;
}


.calendar-page-spinner-hide {
    visibility: hidden;
    position: absolute;
    font-weight: normal;
    right: 15px;
    top: 10px;
}


.fc-today {
  background-color: inherit !important;
}


.popuptext {
    display: none;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popuptext:hover {
    border-color: #66aee9e3;
    box-shadow: 0 0 20px lightgray;
    cursor: pointer;
}


.popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


.popup-show {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}


@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}


@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

