

.edit-vacation-request-card {
    border: solid rgba(0, 0, 0, 0.11) 1px;
    border-radius: 10px;
    box-shadow: 0 0 8px grey;
    position: relative;
    width: 400px;
    height: 450px;
    left: 50%;
    margin-top: 25px;
    margin-left: -200px;
    color: black;
}


.edit-vacation-request-header {
    font-size: 30px;
    margin: 30px;
}


.edit-vacation-request-form {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 80%;
    height: 310px;
}


.edit-vacation-request-label-from {
    position: relative;
    display: block;
    text-align: left;
}


.edit-vacation-request-label-to {
    position: relative;
    display: block;
    text-align: left;
}


.edit-vacation-request-datepicker-from {
    position: relative;
    margin-left: -130px;
    margin-bottom: 20px;
}


.edit-vacation-request-datepicker-to {
    position: relative;
    margin-left: -130px;
    margin-bottom: 30px;
}


.edit-vacation-request-input-field {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 5px;
    resize: none;
}


.edit-vacation-request-error-message {
    position: absolute;
    bottom: 2%;
    left: 0%;
    color: red;
}


.edit-vacation-request-success-message {
    position: absolute;
    bottom: 2%;
    left: 0%;
    color: green;
}


.edit-vacation-request-spinner-show {
    visibility: visible;
    position: absolute;
    bottom: 1%;
    left: 30%;
}


.edit-vacation-request-spinner-hide {
    visibility: hidden;
    position: absolute;
    bottom: 1%;
    left: 30%;
}


.edit-vacation-request-button-container {
    position: absolute;
    bottom: 0px;
    right: 0px;
}


.edit-vacation-request-edit-btn {
    position: relative;
    width: 80px;
  }

  
.edit-vacation-request-delete-btn{
    position: relative;
    margin-left: 10px;
    width: 80px;
  }
  

.edit-vacation-request-cancel-btn {
    position: relative;
    width: 80px;
  }
  

.edit-vacation-request-save-btn {
    position: relative;
    margin-left: 10px;
    width: 80px;
  }