

.edit-password-card {
    border: solid rgba(0, 0, 0, 0.11) 1px;
    border-radius: 10px;
    box-shadow: 0 0 8px grey;
    position: relative;
    width: 400px;
    height: 450px;
    left: 50%;
    margin-top: 25px;
    margin-left: -200px;
    color: black;
}


.edit-password-header {
    font-size: 30px;
    margin: 20px;
}


.edit-password-form {
    position: absolute;
    text-align: left;
    top: 17%;
    left: 10%;
    width: 80%;
    height: 340px;
    margin-top: 15px;
}


.edit-password-input-field-password {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
}


.edit-password-change-password-btn {
    transform: scale(0.9);
    float: right;
}


.edit-password-info-message {
    font-size: 14px;
}


.edit-password-error-message {
    position: absolute;
    bottom: 2%;
    left: 0%;
    color: red;
}


.edit-password-success-message {
    position: absolute;
    bottom: 2%;
    left: 0%;
    color: green;
}


.edit-password-spinner-show {
    visibility: visible;
    position: absolute;
    bottom: 0%;
    left: 30%;
}


.edit-password-spinner-hide {
    visibility: hidden;
    position: absolute;
    bottom: 0%;
    left: 30%;
}


.edit-password-button-container {
    position: absolute;
    bottom: 0%;
    right: 0%;
}
  

.edit-password-cancel-btn {
    position: relative;
    width: 80px;
  }
  

.edit-password-save-btn {
    position: relative;
    margin-left: 10px;
    width: 80px;
  }