

.edit-profile-card {
    border: solid rgba(0, 0, 0, 0.11) 1px;
    border-radius: 10px;
    box-shadow: 0 0 8px grey;
    position: relative;
    width: 400px;
    height: 450px;
    left: 50%;
    margin-top: 25px;
    margin-left: -200px;
    color: black;
}


.edit-profile-header {
    font-size: 30px;
    margin: 15px;
}


.edit-profile-form {
    position: absolute;
    text-align: left;
    top: 17%;
    left: 10%;
    width: 80%;
    height: 355px;
}


.edit-profile-input-field {
    width: 100%;
    margin-bottom: 30px;
    padding: 5px;
}


.edit-profile-input-field-password {
    position: relative;
    width: 70%;
    margin-bottom: 30px;
    padding: 5px;
}


.edit-profile-change-password-btn {
    transform: scale(0.9);
    float: right;
}


.edit-profile-firstname-and-lastname-input-fields {
    height: 70px;
}


.edit-profile-firstname-input-field {
    position: absolute;
    left: 0;
    width: 45%;
    padding: 5px;
}


.edit-profile-lastname-input-field {
    position: absolute;
    left: 55%;
    width: 45%;
    padding: 5px;
}


.edit-profile-image-container {
    position: relative;
    height: 55px;
}


.edit-profile-img {
    float: left;
    height: 55px;
    width: 55px;
}


.edit-profile-upload-btn {
    transform: scale(0.9);
    transform-origin: bottom right;
    position: absolute;
    right: 22%;
    bottom: -15%;
}


.edit-profile-upload-btn-disabled {
    transform: scale(0.9);
    transform-origin: bottom right;
    position: absolute;
    opacity: .65;
    right: 22%;
    bottom: -15%;  
}


.edit-profile-upload-btn-disabled:hover {
    background-color: #6c757d !important;
}


.edit-profile-clear-btn {
    transform: scale(0.9);
    transform-origin: bottom right;
    position: absolute;
    right: 0%;
    bottom: 0%;
}


.edit-profile-error-message {
    position: absolute;
    bottom: 2%;
    left: 0%;
    color: red;
}


.edit-profile-success-message {
    position: absolute;
    bottom: 2%;
    left: 0%;
    color: green;
}


.edit-profile-spinner-show {
    visibility: visible;
    position: absolute;
    bottom: 0%;
    left: 30%;
}


.edit-profile-spinner-hide {
    visibility: hidden;
    position: absolute;
    bottom: 0%;
    left: 30%;
}


.edit-profile-checkbox{
    margin-bottom: 10px;
    margin-top: 25px;
}


.edit-profile-button-container {
    position: absolute;
    bottom: 0%;
    right: 0%;
}


.edit-profile-edit-btn {
    position: relative;
    width: 80px;
  }

  
.edit-profile-delete-btn{
    position: relative;
    margin-left: 10px;
    width: 80px;
  }
  

.edit-profile-cancel-btn {
    position: relative;
    width: 80px;
  }
  

.edit-profile-save-btn {
    position: relative;
    margin-left: 10px;
    width: 80px;
  }