

.login-card {
    border: solid rgba(0, 0, 0, 0.11) 1px;
    border-radius: 10px;
    box-shadow: 0 0 8px grey;
    position: relative;
    width: 400px;
    height: 400px;
    left: 50%;
    margin-top: 100px;
    margin-left: -200px;
    color: black;
    background-color: white;
}


.login-logo {
    position: absolute;
    width: 256px;
    height: 53.5px;
    top: 25%;
    left: 50%;
    margin-left: -128px;
    transform: scale(1.1);
}


.title {
    font-family: 'Alex Brush', cursive;
    position: relative;
    top: 37%;
    margin-left: 120px;
    font-size: 25px;
    font-weight: bold;
    color: gray;
}


.login-btn {
    position: absolute;
    bottom: 0%;
    right: 0%;
    margin-right: 20px;
    margin-bottom: 15px;
}


.login-error-message {
    position: absolute;
    color: red;
    bottom: 22px;
    left: 50px;
}


.login-spinner-show {
    visibility: visible;
    position: absolute;
    bottom: 17px;
    right: 110px;
}

.login-spinner-hide {
    visibility: hidden;
    position: absolute;
    bottom: 17px;
    right: 110px;
}