.ineligible-period-container {
    border: solid rgba(0, 0, 0, 0.11) 1px;
    border-radius: 10px;
    box-shadow: 0 0 8px grey;
    position: relative;
    width: 400px;
    height: 450px;
    left: 50%;
    margin-top: 25px;
    margin-left: -200px;
    color: black;
}
​
​
.modal-header {
    font-size: 30px;
    margin: 30px;
}
.modal-body{
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}
.new-ineligible-period-label-from {
    position: relative;
    display: block;
    text-align: left;
}
​
​
.new-ineligible-period-label-to {
    position: relative;
    display: block;
    text-align: left;
}
​
​
.new-ineligible-period-datepicker-from {
    position: relative;
    margin-left: -130px;
    margin-bottom: 20px;
}
​
​
.new-ineligible-period-datepicker-to {
    position: relative;
    margin-left: -130px;
    margin-bottom: 30px;
}
​
​label{
    display: flex;
    margin-bottom: .5rem;
    justify-content: flex-end;
}
input[type=checkbox], input[type=radio] {
    padding: 0;
    position: absolute;
    opacity: 1;
    cursor: pointer;
}
.form-check-label{
        display:flex;
        margin-left:5px;
        margin-bottom: 0;
    
}