

.new-vacation-request-card {
    border: solid rgba(0, 0, 0, 0.11) 1px;
    border-radius: 10px;
    box-shadow: 0 0 8px grey;
    position: relative;
    width: 400px;
    height: 450px;
    left: 50%;
    margin-top: 25px;
    margin-left: -200px;
    color: black;
}


.new-vacation-request-header {
    font-size: 30px;
    margin: 30px;
}


.new-vacation-request-form {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 80%;
}


.new-vacation-request-label-from {
    position: relative;
    display: block;
    text-align: left;
}


.new-vacation-request-label-to {
    position: relative;
    display: block;
    text-align: left;
}


.new-vacation-request-datepicker-from {
    position: relative;
    margin-left: -130px;
    margin-bottom: 20px;
}


.new-vacation-request-datepicker-to {
    position: relative;
    margin-left: -130px;
    margin-bottom: 30px;
}


.new-vacation-request-input-field {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 5px;
    resize: none;
}


.new-vacation-request-submit-btn {
    position: absolute;
    top: 100%;
    right: 0px;
}


.new-vacation-request-error-message {
    position: absolute;
    top: 105%;
    left: 0%;
    color: red;
}


.new-vacation-request-spinner-show {
    visibility: visible;
    position: absolute;
    top: 101%;
    left: 45%;
}


.new-vacation-request-spinner-hide {
    visibility: hidden;
    position: absolute;
    top: 101%;
    left: 45%;
}