

.user-list-table-row:hover {
    cursor: pointer;
}


.user-list-spinner-show {
    visibility: visible;
}


.user-list-spinner-hide {
    visibility: hidden;
}


.user-list-search-field {
    position: "absolute";
    left: "85%"; 
    top: "12%"; 
    width: "14%";
}


.user-list-profile-picture-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 55px;
    height: 55px;
}


.user-list-edit-icon {
    float: right;
    width: 30px;
    height: 30px;
}


td {
    position: relative;
    height: 55px;
}

